body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: fit-content;
  max-height: fit-content;
  display: flex;
  background-color: antiquewhite;
  overflow: hidden;
}
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
button.MainButtons {
  overflow-y: clip;
  line-height: 2.75vh;
  text-align: center;
  display: inline-block;
  font-size: 1.5vh;
  font-weight: bold;
  cursor: pointer;
  min-height: 25vh;
  height: fit-content;
  min-width: 8vw;
  margin: 10px;
  border-radius: 10px;
  max-height: 25vh;
  max-width: 8vw;
}
button.MainButtons img {
  height: 100px;
  width: 100px;
}
#PrimaryButtons_1 {
  border: 3px solid red;
}
#PrimaryButtons_2 {
  border: 3px solid orange;
}
#PrimaryButtons_3 {
  border: 3px solid yellow;
}
#PrimaryButtons_4 {
  border: 3px solid green;
}
#PrimaryButtons_5 {
  border: 3px solid skyblue;
}
#PrimaryButtons_6 {
  border: 3px solid violet;
}
#ButtonsContainer {
  display: flex;
  height: fit-content;
  width: fit-content;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  background-color: grey;
  border-radius: 10px;
  margin: auto;
  text-align: center;
}
#BottomSection {
  padding-top: 10px;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#ButtonOptionList {
  text-align: center;
  list-style: none;
  padding: 0;
}
#ButtonOptionList li {
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 100%;
}
#TopSection {
  width: fit-content;
  height: fit-content;
  margin: auto;
  text-align: center;
  max-width: 1020px;
  max-height: 600px;
}

#CanvasContainer {
  --length: ;
  --height: ;
  --canvasWidth: ;
  --canvasHeight: ;
  max-width: -webkit-fill-available;
  max-height: -webkit-fill-available;
  width: var(--canvasWidth);
  height: var(--canvasHeight);
  display: grid;
  grid-template-columns: repeat(var(--length), auto);
  grid-template-rows: repeat(var(--height), auto);
  border: 4px solid black;
  background-color: white;
}
.pixelCanvas.active {
  box-shadow: inset -2px 0 0 black, inset 0 -2px 0 black, inset 2px 0 0 black,
    inset 0 2px 0 black;
}
#TopSection h1 {
  font-size: 4vh;
  font-weight: 100;
  margin: 0;
  padding: 0;
}
#CurrentSelectionContainer {
  --backgroundColor: white;
  width: 5vw;
  height: 5vw;
  border: 3px solid black;
  position: fixed;
  right: 80%;
  top: 10%;
  font-weight: bold;
  font-size: small;
  background-color: var(--backgroundColor);
}
#FileStatusContainer {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-style: italic;
  background-color: white;
  border: 3px solid black;
  position: fixed;
  right: 5%;
  top: 10%;
}

#CanvasSizeTitle {
  font-size: 20px;
  font-weight: 100;
  font-style: italic;
}
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}
input,
button,
textarea,
:focus {
  outline: none;
}
#Circle {
  position: relative;
  top: 25%;
  left: 25%;
  height: 2.5vw;
  width: 2.5vw;
  background-color: black;
  border-radius: 50%;
}
.pixelCanvas {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Pixelcircle {
  width: 50%;
  height: 50%;
  background-color: black;
  border-radius: 50%;
}
.PixelLetter {
  font-weight: bold;
  text-align: center;
  margin: auto;
  position: absolute;
}
#Letter {
  font-size: 3vw;
}
#FileSelection,
#PrinterSelection {
  position: static;
  background-color: white;
  border: 3px solid black;
  height: 600px;
  width: 500px;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
#FileSelection > h1,
#PrinterSelection > h1 {
  font-size: 40px;
  text-decoration: underline;
  text-underline-offset: 7px;
  font-style: italic;
}
#PathLocation {
  font-size: 20px;
  font-weight: 100;
  margin: 0;
  padding-bottom: 10px;
  font-style: italic;
}
div.File,
div.Printer {
  padding: 10px;
  border: 3px solid black;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
#FileList > div:last-child,
#PrinterList > div:last-child {
  border-bottom: 3px solid black;
}
div.File.active,
div.Printer.active {
  background-color: lightgrey;
}
#CustomFileNameBar {
  margin: 0;
  font-weight: bold;
  font-style: italic;
  background-color: white;
  border: 3px solid black;
  height: 20px;
  overflow-x: clip;
  white-space: nowrap;
  direction: rtl;
}
@media print {
  body {
    background-color: white;
    -webkit-print-color-adjust: exact;
  }
  .pixelCanvas.active {
    box-shadow: none;
  }
}
